
/*------------------------------
   Hero Area Area Start
------------------------------*/

.heroArea{
  background: url(../img/hero-area/Home.jpg);
  padding: 272px 0px 275px;
  @include background-image();
  position: relative;
  .overlay{
    @include section-overlay();
  }
  .hero-area-text{
    text-align: center;
  }
  .subtitle{
    font-size: 40px;
    line-height: 50px;
    color: $darkwhite;
    font-weight: 700;
    margin-bottom: 17px;
    display: block;
  }
  .title{
    font-size: 90px;
    line-height: 100px;
    color: $darkwhite;
    font-weight: 700;
    display: block;
    margin-bottom: 24px
  }
  p{
    font-size: 18px;
    line-height: 28px;
    color: $dark2white;
    font-weight: 700;
    padding: 0px 80px 0px
  }
  .btn-wrapper {
    margin-top: 36px;
    .mr-btn{
      margin-right: 26px;
      display: inline-block;
    }
  }
}






/*------------------------------
   Hero Area Area End
------------------------------*/