/*---------------------------
Team Details Page Start
---------------------------*/


.team-details{
padding: 113px 0px 97px;
  .about-img{
    img{
      width: 100%;
    }
  }
  .about-the-member{
    .info{
      margin-bottom: 0px;
      .short-info-list{
        ul{
          li{
            p{
              line-height: 31px;
              margin-bottom: 0px;
            }
          }
        }  
      }
      .shortbio{
        margin-top: 17px;
        p{
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
  .temmembername{
    ul{
      li{
        a{
          color: $title-color;
          font-size: 14px;
          font-weight: 600;
          line-height: 30px;
          @include transition();
          &:hover{
            color: $base-color;
          }
          &.active{
            color: $base-color;
          }
        }
      }
    }
  }
  .certificates .title, .award .title{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: $title-color;
    margin-bottom: 10px;
  }
  .certificates {
    margin-bottom: 49px;
    margin-top: 53px;
  }

}








/*---------------------------
Team Details Page Start
---------------------------*/