<!-- Blog Area Start -->
	<section class="blog">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<div class="section-title extrapadding">
						<h5 class="subtitle">
							Read Our Latest Blog
						</h5>
						<h2 class="title">
							Our Blog
						</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="blogSlider">
						<div class="item">
							<div class="blog-card">
								<div class="top-image">
									<img src="assets/img/blog/blog1.jpg" alt="">
								</div>
								<div class="content">
									<div class="tags">
										<a href="#">
											Computure
										</a>
										<span>/</span>
										<a href="#">
											Virus
										</a>
									</div>
									<div class="content-body">
										<a href="#">
											As am hastily invitedsettled
											at limited....
										</a>
										<p>
											Announcing of invitation principles in. Cold in late
											or deal Terminated resolution no am frequently
											collecting insensible he do appearance.
										</p>
									</div>
									<div class="footer">
										<ul>
											<li>
												<p>
													<i class="far fa-clock"></i>
													28/11/2018
												</p>
											</li>
											<li>
												<a href="#">
													<i class="far fa-comments"></i>
													28
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-card">
								<div class="top-image">
									<img src="assets/img/blog/blog2.jpg" alt="">
								</div>
								<div class="content">
									<div class="tags">
										<a href="#">
											Computure
										</a>
										<span>/</span>
										<a href="#">
											Virus
										</a>
									</div>
									<div class="content-body">
										<a href="#">
											Son agreed others exeter period myself...
										</a>
										<p>
											Announcing of invitation principles in. Cold in late
											or deal Terminated resolution no am frequently
											collecting insensible he do appearance.
										</p>
									</div>
									<div class="footer">
										<ul>
											<li>
												<p>
													<i class="far fa-clock"></i>
													28/11/2018
												</p>
											</li>
											<li>
												<a href="#">
													<i class="far fa-comments"></i>
													38
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-card">
								<div class="top-image">
									<img src="assets/img/blog/blog3.jpg" alt="">
								</div>
								<div class="content">
									<div class="tags">
										<a href="#">
											Computure
										</a>
										<span>/</span>
										<a href="#">
											Virus
										</a>
									</div>
									<div class="content-body">
										<a href="#">
											To an occasional dissimilar impossible...
										</a>
										<p>
											Announcing of invitation principles in. Cold in late
											or deal Terminated resolution no am frequently
											collecting insensible he do appearance.
										</p>
									</div>
									<div class="footer">
										<ul>
											<li>
												<p>
													<i class="far fa-clock"></i>
													28/11/2018
												</p>
											</li>
											<li>
												<a href="#">
													<i class="far fa-comments"></i>
													48
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-card">
								<div class="top-image">
									<img src="assets/img/blog/blog2.jpg" alt="">
								</div>
								<div class="content">
									<div class="tags">
										<a href="#">
											Computure
										</a>
										<span>/</span>
										<a href="#">
											Virus
										</a>
									</div>
									<div class="content-body">
										<a href="#">
											Do fortune account written prepare... 
										</a>
										<p>
											Announcing of invitation principles in. Cold in late
											or deal Terminated resolution no am frequently
											collecting insensible he do appearance.
										</p>
									</div>
									<div class="footer">
										<ul>
											<li>
												<p>
													<i class="far fa-clock"></i>
													28/11/2018
												</p>
											</li>
											<li>
												<a href="#">
													<i class="far fa-comments"></i>
													78
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Area End -->