<!-- footer area start -->
	<footer class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="widget fotter-logo-widget">
						<img src="assets/img/logo/logo.png" alt="">
						<p>
								Follow us on social media for updates and news. 
						</p>
						<div class="social-link">
							<ul>
								<li>
									<a href="https://www.facebook.com/mytechvic/">
											<i class="fab fa-facebook-f"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="widget menu-widget">
						<div class="widget-title">
							<h3>
								Menu
							</h3>
						</div>
						<ul>
							<li>
								<a href="#">
									<i class="fas fa-angle-double-right"></i>	Home
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fas fa-angle-double-right"></i>	About
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fas fa-angle-double-right"></i>	Services
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fas fa-angle-double-right"></i>	Team
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fas fa-angle-double-right"></i>	Pages
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="widget contact-info-widget">
							<div class="widget-title">
								<h3>
										Contact Info
								</h3>
							</div>
							<div class="info">
								<ul>
									<li>
										<p>
											164 main street. Bacchus Marsh
										</p>
									</li>
									<li>
										<p>
											enquiries@mytechvic.com.au 
										</p>
									</li>
									<li>
										<p>
											<p><b>Trading hours </b> </p>
											<p>Mon - Fri:  9:00 am - 5:00 pm</p>
											<p>Sat: 9:00 am - 12:30pm</p>
											<p>Sun: closed</p>

										</p>
									</li>
									<li>
										<p>
											(03) 5370 1112
										</p>
									</li>
								</ul>
							</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<div class="copy-right-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="left">
						<p>
							MyTech. 2019 All Rights Reserved
						</p>
					</div>
					<div class="right">
						<ul>
<!-- 							<li>
								<a href="#">
									Blog Post
								</a>
							</li> -->
							<li>
								<a href="/contact.html">
									Contact
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- footer area End -->



	<!-- preloader area start -->
	<div class="preloader" id="preloader">
		<div class="loader loader-1">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>
		</div>
	</div>
	<!-- preloader area end -->


	<!-- jquery -->
	<script src="/assets/js/jquery.js"></script>
	<!-- popper -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.js"></script>
	<!-- wow js-->
	<script src="/assets/js/wow.min.js"></script>
	<!-- way point -->
	<script src="/assets/js/waypoints.min.js"></script>
	<!-- counterup js-->
	<script src="/assets/js/jquery.counterup.min.js"></script>
	<!-- main -->
	<script src="/assets/js/main.js"></script>