
/*---------------------------
Blog Area  Start
---------------------------*/

.blog{
  padding: 113px 0px 120px;
  .section-title{
    .subtitle{
      margin-bottom: 1px
    }
  } 
}
.blog-card{
  background: $sectionbg;
  @include transition();
  .content{
    padding: 22px 25px 9px;
    @include transition();
      .tags{
        margin-bottom: 10px;
        a,span{
          color: $body-color;
          font-size: 12px;
          font-style: italic;
          @include transition();
        }
      }
    .content-body{
      a{
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        color: $title-color;
        margin-bottom: 15px;
        display: block;
        font-family: $heading-font;
        @include transition();
      }
      p{
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 14px;
        @include transition();
      }
    }
    .footer{
      li{
        display: inline-block;
        margin-right: 16px;
        @include transition();
        &:last-child{
          margin-right: 0px;
        }
        p,a{
          font-size: 12px;
          color: $body-color;
          line-height: 22px;
          @include transition();
          i{
            margin-right: 7px;
          }
        }
        p,a{
          font-size: 12px;
          color: $body-color;
          line-height: 22px;
          @include transition();
          i{
            margin-right: 7px;
          }
        }
      }
    }
  }
  &:hover{
    background: $base-color;
    .content{
      .tags{
        a, span{
          color: $white;
        }
      }
      .content-body{
        a{
          color: $white;
        }
        p{
          color: $white;
        }
      }
      .footer{
        ul{
          li{
            a, p{
              color: $white;
              i{
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
/*---------------------------
Blog Area  End
---------------------------*/
