
/*---------------------------
Footer Area  Start
---------------------------*/
footer.footer-area{
  background: url(../img/footer/footerbg.jpg);
  @include background-image();
  padding: 92px 0px 85px;

}

.widget{
  p, a{
    color: $dark2white;
    font-size: 16px;
    line-height: 26px;
  }
  h3{
    color: $dark2white;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
  }
}

.fotter-logo-widget{
  img{
    margin-bottom: 25px;
    margin-top: 8px;
  }
  .social-link{
    margin-top: 26px;
    display: block;
    ul{
      li{
        display: inline-block;
        a{
          i{
            width: 35px;
            height: 35px;
            border-right: 50%;
            border: 1px solid #fff;
            font-size: 15px;
            line-height: 35px;
            text-align: center;
            border-radius: 50%;
            @include transition();
            margin-right: 15px;
          }
          .fa-facebook-f{
            &:hover{
              background: $fb;
              border-color: $fb;
            } 
          }
            
          .fa-twitter{
            &:hover{
                background: $tw;
                border-color: $tw;
            }
          }
          .fa-instagram{
            &:hover{
                background: $insta;
                border-color: $insta;
            }
          }
          .fa-linkedin-in{
            &:hover{
              background: $linkedin;
              border-color: $linkedin;
            }
          }
        }
      }
    }
  }

}

.menu-widget{
  .widget-title{
    margin-bottom: 11px;
  }
  ul{
    li{
      a{
        line-height: 33px;
        @include transition();
        i{
          font-size: 14px;
        }
        &:hover{
          color: $base-color;
        }
      }
    }
  }
}

.subscribe-widget{
  .widget-title{
    margin-bottom: 21px;
  }
  .succribeform{
    margin-bottom: 24px;
    form{
      position: relative;
      width: 100%;
      input{
        width: 100%;
        height: 45px;
        background: $darkwhite;
        border-radius: 4px;
        border: 0px;
        padding: 0px 120px 0px 20px;
        @include placeholder-color($title-color);
      }
      button{
        position: absolute;
        right: 0;
        height: 45px;
        top: 0px;
        width: 100px;
        border: 0px;
        background: $base-color;
        color: $white;
        cursor: pointer;
        border-radius:0px 4px 4px 0px;
        &:focus{
          outline: 0px;
        }
      }
    }
  }
}

.contact-info-widget{
  .widget-title{
    margin-bottom: 18px;
  }
  .info{
    ul{
      li{
        p{
          line-height: 20px;
        }
      }
    }
  }
}

/*---------------------------
Footer Area  End
---------------------------*/


/*---------------------------
Copyright Area Start
---------------------------*/


.copy-right-area{
  background: $bgdark-color;
  padding: 25px 0px 10px;
  .left{
    float: left;
    display: inline-block;
    p{
      color:  $dark2white;
      font-size: 14px;
      line-height: 24px;
    }
  }
  .right{
    display: inline-block;
    float: right;
    ul{
      li{
        display: inline-block;
        a{
          color:  $dark2white;
          margin-left: 15px;
          font-size: 14px;
          line-height: 24px;
          @include transition();
          &:hover{
            color: $base-color;
          }
        }
      }
    }
  }
}







/*---------------------------
Copyright Area End
---------------------------*/










