
/*------------------------------
    Navbar Area
------------------------------*/

.dropdown:hover>.dropdown-menu {
    display: block;

}
.dropdown-menu{
    .dropdown-item{
        &:hover,
        &:focus
        {
            background: none;
            color: $base-color
        }
    }
}

.prymery-menu.nav-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #181818;
    .navbar-area{
        background: #181818; 
    }
}
.prymery-menu{
    position: relative;
.navbar-area {
    @include transition(.5s ease-in);
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba($bgdark-color, .50);
    
    .navbar-collapse {
        justify-content: flex-end;
        .navbar-nav {
            float: right;
            .nav-item {
                display: inline-block;
                font-size: 14px;
                line-height: 26px;
                text-transform: capitalize;
                font-weight: 400;
                padding: 20px 7px 20px;
                position: relative;
                color: $white;
                &:hover {
                    .dropdown-menu {
                        padding: 0;
                        border-radius: 0;
                        .dropdown-item {
                            font-size: 14px;
                            font-weight: 600;
                            @include transition($transition);
                            
                        }
                    }
                }
                .dropdown-menu {
                    margin-top: 0;
                    &.show {
                        padding: 0;
                        border-radius: 0;
                        margin-top: 0;
                        .dropdown-item {
                            font-size: 14px;
                            font-weight: 600;
                            @include transition($transition);
                        }
                    }
                }
                
                &.active {
                    .nav-link {
                        color: $base-color;
                    }
                    &:after {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                &:hover {
                    .nav-link {
                        color: $base-color;
                    }
                    &:after {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                &:last-child {
                    padding-right: 0;
                    &:after{
                        display: none;
                    }
                    .nav-link{
                        padding-right: 0;
                    }
                }
                .nav-link {
                    color:$white;
                    @include transition($transition);
                    font-weight: 600;
                    &::after{
                        display: none;
                    }
                   
                }
            }
        }
    }
    .another-link{
        padding-left: 8px;
        p,a {
            display: inline-block;
            color: $white;
            padding-top: 15px;
            font-size: 14px;
        }
        a{
            display: inline-block;
            padding-left: 13px;
            @include transition();
            &:hover,
            &.active{
                color: $base-color;
            }
        }
        p{
            padding-left: 13px;
        }
    }
    #serchmodal{
        z-index: 999;
    }
}
#serchmodal .modal-content{
    form{
        position: relative;
    }
    padding: 30px;
    input{
        width: 100%;
        height: 50px;
        border: 1px solid rgba($bgdark-color, 0.2);
        padding: 0px 105px 0px 20px;
        &:focus{
            outline: 0px;
            box-shadow: none;
        }
    }
    .btn{
        position: absolute;
        right: 0px;
        top: 0px;
        height: 50px;
        border: 0px;
        padding: 0px 20px;
        background: $base-color;
        color: $white;
        cursor: pointer;
        &:focus{
            outline: 0px;
            box-shadow: none;
            border: 0px;
        }
    }
}
}