/*-----------------------------------------
support bar area start
-------------------------------------------*/


.support-bar{
  background: $bgdark-color;
  padding: 14px 0px 14px;
  .support-left{
    text-align: left;
    float: left;
    display: inline-block;
    ul{
      li{
        display: inline-block;
        a{
          color: $darkwhite;
          font-size: 14px;
          line-height: 26px;
          margin-right: 8px;
          i{
            @include transition();
          }

          .fa-facebook-f{
            &:hover{
              color: $fb
            } 
          }
            
          .fa-twitter{
            &:hover{
              color: $tw;
            }
          }

          .fa-dribbble{
            &:hover{
              color: $drib;
            }
          }

          .fa-pinterest-p{
            &:hover{
              color: $pin;
            }
          }

          .fa-linkedin-in{
            &:hover{
              color: $linkedin;
            }
          }
        }
      }
    }
  }
  .support-right{
    float: right;
    text-align: right;
    display: inline-block;
    ul{
      li{
        display: inline-block;
        a{
          color: $darkwhite;
          font-size: 14px;
          line-height: 26px;
          margin-right: 10px;
          @include transition();
          &:hover{
            color: $base-color;
          }
        }
      }
    }
  }
}


/*-----------------------------------------
support bar area End
------------------------------------------ */