/*---------------------------
Team Page Start
---------------------------*/

.team-page-team{
  padding: 113px 0px 90px;
  .team-card{
    margin-bottom: 30px;
  }
}
.faq.teampage-faq{
  background: $sectionbg;
  .panel-default{
    background: $white;
  }
}

/*---------------------------
Team Page Start
---------------------------*/